@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@font-face {
font-family: 'yo';
    src: url('fotn/golwet-golwet-svg-400.otf') format('opentype');
}
body {
    background-image: url('back/yo.webp');
    background-size: cover; /* Menyesuaikan gambar agar menutupi seluruh layar */
    background-position: center; /* Menempatkan gambar di tengah */
    background-repeat: no-repeat; 
}

.container-fluid {
    width: 80%;
    margin: 40px auto;
    padding: 20px;
}

.star {
    margin-top: 250px;
    opacity: 100%;
}

.star a{
    font-family: "Cinzel";
    font-size: 80px;
    text-decoration: none;
    font-weight: bold;
    background: linear-gradient(to right, #ffffff, #e87014); /* Warna gradasi */
    -webkit-background-clip: text; /* Untuk Safari */
    -webkit-text-fill-color: transparent; 
    opacity: 50%;
}

